# Task 1

In [ ]:
import pandas as pd

df = pd.read_csv('/pulsar_stars.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17898 entries, 0 to 17897
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   mip     17898 non-null  float64
 1   stdip   17898 non-null  float64
 2   ekip    17898 non-null  float64
 3   sip     17898 non-null  float64
 4   mc      17898 non-null  float64
 5   stdc    17898 non-null  float64
 6   ekc     17898 non-null  float64
 7   sc      17898 non-null  float64
 8   target  17898 non-null  int64
dtypes: float64(8), int64(1)
memory usage: 1.2 MB

In [ ]:
df_new = df[(df['mip'] >= 10) & (df['mip'] <= 100)]

In [ ]:
df_new.count()

mip       4218
stdip     4218
ekip      4218
sip       4218
mc        4218
stdc      4218
ekc       4218
sc        4218
target    4218
dtype: int64

In [ ]:
round(df_new['mip'].mean(), 3)

np.float64(77.053)

In [ ]:
round(df_new['mip'].min(), 3)

10.008

In [ ]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.12/dist-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (2.0.2)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (1.16.3)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (3.6.0)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
sip = df_new['sip'].sort_values(ascending=True)
sip

12344    -1.040048
3649     -0.965077
14688    -0.960082
795      -0.838742
2437     -0.827640
           ...
4118     57.175232
11783    58.294501
12029    63.149537
10456    65.385974
1504     68.101622
Name: sip, Length: 4218, dtype: float64

In [ ]:
df_new_sort = df_new.copy()
df_new_sort['sip']

1        1.291232
2        4.161082
3        1.518548
6        8.131775
7        8.098344
           ...
17845    1.406067
17846    0.954549
17850    1.527943
17854    1.322748
17881    3.352493
Name: sip, Length: 4218, dtype: float64

In [ ]:
df_new_sort.sort_values(by='sip', ascending=True, ignore_index=True, inplace=True)
df_new_sort['sip']

0       -1.040048
1       -0.965077
2       -0.960082
3       -0.838742
4       -0.827640
          ...
4213    57.175232
4214    58.294501
4215    63.149537
4216    65.385974
4217    68.101622
Name: sip, Length: 4218, dtype: float64

In [ ]:
train, test = train_test_split(df_new_sort, test_size=0.2, train_size=0.8, random_state=33, stratify=df_new_sort['target'])

In [ ]:
train

,mip,stdip,ekip,sip,mc,stdc,ekc,sc,target
3323,58.570312,40.793436,2.644698,9.397980,18.963211,50.778228,2.936072,8.017277,1
207,99.679688,44.752607,0.331856,0.169072,1.771739,12.875357,11.919944,177.598516,0
2578,69.601562,38.841694,1.031798,2.885897,2.231605,14.790534,10.318162,132.536048,0
1944,99.164062,37.346724,0.087156,1.940834,2.407191,19.661234,8.856652,82.487647,0
2311,85.546875,37.100341,0.731024,2.443917,1.095318,10.678767,15.575830,306.084251,0
...,...,...,...,...,...,...,...,...,...
214,94.265625,51.982492,0.468119,0.175742,0.913043,9.340590,19.659444,482.451310,0
2242,81.109375,39.372070,0.833645,2.322953,3.239967,19.697676,7.154050,58.014202,0
335,94.750000,48.424555,0.361711,0.307419,5.883779,32.778251,5.727836,32.179928,0
2975,87.156250,50.253177,2.042073,4.229606,55.365385,49.634949,1.165438,1.920774,0
652,98.007812,46.208680,0.420598,0.642509,4.540970,20.453941,5.979902,43.126935,0

In [ ]:
round(train['stdc'].max(), 3)

109.655

In [ ]:
X_train = train.drop(columns=['target'])
y_train = train['target']

X_test = test.drop(columns=['target'])
y_test = test['target']

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

X_train_scaled = scaler.fit_transform(X_train)

X_test_scaled = scaler.transform(X_test)

In [ ]:
X_test_scaled = pd.DataFrame(
    X_test_scaled,
    columns=X_test.columns,
    index=X_test.index
)
X_train_scaled = pd.DataFrame(
    X_train_scaled,
    columns=X_train.columns,
    index=X_train.index
)

In [ ]:
round(X_train_scaled['stdip'].mean(), 3)

np.float64(0.256)

In [ ]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train_scaled, y_train)
y_new = lr.predict(X_test_scaled)

In [ ]:
from sklearn.metrics import confusion_matrix

confusion_matrix(y_test, y_new)

array([[539,  18],
       [ 41, 246]])

In [ ]:
tn, fp, fn, tp = confusion_matrix(y_test, y_new).ravel().tolist()
tp

246

In [ ]:
from sklearn.metrics import f1_score
round(f1_score(y_test, y_new), 3)

0.893

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=3)
neigh.fit(X_train_scaled, y_train)
y_new = neigh.predict(X_test_scaled)

In [ ]:
tn, fp, fn, tp = confusion_matrix(y_test, y_new).ravel().tolist()
tp

258

In [ ]:
from sklearn.metrics import f1_score
round(f1_score(y_test, y_new), 3)

0.918

# Task 2

In [ ]:
import pandas as pd

train = pd.read_csv('/MNIST_train.csv')
test = pd.read_csv('/MNIST_test.csv')
train.shape

(60000, 785)

In [ ]:
train = train[(train['label'] == 2) | (train['label'] == 9)]
test = test[(test['label'] == 2) | (test['label'] == 9)]

In [ ]:
test.shape

(2041, 785)

In [ ]:
train['label'].value_counts()

label
2    5958
9    5949
Name: count, dtype: int64

In [ ]:
X_train = train.drop(columns=['label'])
y_train = train['label']

X_test = test.drop(columns=['label'])
y_test = test['label']

In [ ]:
from sklearn.decomposition import PCA

pca = PCA(svd_solver='full', n_components=40)
pca.fit(X_train)
sum(pca.explained_variance_ratio_)

np.float64(0.8008216431324011)

In [ ]:
X_pca2 = pca.fit_transform(X_train)
pd.DataFrame(X_pca2).head(n=10)

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,-917.065130,-76.440301,242.741795,22.643660,237.718972,354.736211,-155.092618,-10.567533,-202.169351,115.322230,...,86.229957,-18.491339,100.810067,95.783054,-10.872888,-125.777444,-74.374025,-193.318169,-78.660685,-54.147053
1,162.633120,627.557396,227.899242,-74.108205,467.100847,133.143891,248.513849,-24.899670,38.984205,-429.926818,...,-236.606832,-171.728130,118.436168,146.412335,25.064343,87.897254,24.096454,-23.491849,-127.086042,-41.408879
2,473.283005,124.825153,-24.230283,39.714953,-293.442360,-74.513997,67.030780,734.522173,17.818692,-189.753908,...,-198.905281,81.706901,-247.264260,-250.513016,-151.437743,159.069794,-153.919318,-216.392946,109.007502,177.199085
3,-483.112785,-326.275341,811.655557,-331.670135,73.116194,-271.698741,390.339734,-187.444038,-363.571229,-53.412528,...,90.370552,-134.880795,-114.868363,-117.528059,40.489027,-44.390050,-172.781529,-396.440368,46.310807,-17.896281
4,-307.052084,-55.478154,670.096561,-446.374723,-107.095796,100.051165,457.718648,-25.326320,-477.038868,67.172080,...,-39.815296,-32.407843,-6.115975,-61.425921,198.899698,231.285208,-118.874605,-29.172023,7.267784,-52.836054
5,1050.423398,-336.495923,174.057038,870.680558,-19.937098,59.075842,-626.276865,-706.523425,-183.814355,-55.796910,...,124.200849,-21.145290,96.789333,233.716812,-28.069302,43.258566,137.435340,173.082939,-97.839232,-107.074621
6,176.569408,160.660246,-7.406580,880.175012,-577.781372,-865.706000,495.200733,44.500565,223.341513,468.619437,...,104.045997,43.281897,179.078029,183.363710,69.213242,-92.741934,267.761629,20.665533,-150.763731,44.335010
7,-344.151629,-52.792509,837.766276,-180.315448,-82.172671,-172.845684,620.616709,-172.211828,-302.378010,-63.173117,...,38.313318,-36.121778,-36.936156,-86.091569,-56.225291,103.412683,180.365345,-35.847889,-10.505818,-36.828805
8,-519.036485,-442.045423,821.933824,-175.478179,14.089742,-132.191107,395.229509,-105.124909,-3.070083,-163.553468,...,-134.832584,-8.161781,-31.087434,1.858470,62.886455,12.423867,-96.891899,-30.551395,-111.399705,-178.783349
9,-1041.986158,92.999671,372.764887,170.453790,221.857436,111.442270,-304.805332,169.089382,-179.730405,4.912214,...,75.105292,-26.744023,-28.114149,-70.974732,-84.339439,-84.804970,113.554477,59.742645,132.118485,-183.388141

In [ ]:
X_pca2_test = pca.transform(X_test)
pd.DataFrame(X_pca2_test).head()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,679.016571,-900.474781,117.377058,-159.703288,14.703267,-466.448303,-724.290891,-101.832875,-180.664243,647.039777,...,-1.770431,-19.981595,57.284793,40.285982,160.927511,-72.178435,23.791351,-46.295550,153.226960,-59.431208
1,-628.122708,-344.593273,-447.238990,-429.698356,298.702973,-62.962766,-54.931178,-422.152641,-49.689448,-105.503415,...,38.508131,59.106151,21.079061,-214.896295,192.709695,297.640737,107.021743,91.100165,-89.014971,-138.465667
2,-763.173538,569.331619,713.193676,232.786322,116.339797,-622.390954,180.010775,-237.539315,-194.495311,-27.446811,...,138.793439,-59.653682,-0.408571,-53.224403,16.928299,-155.647632,-158.625251,-119.163973,-149.517731,-32.166859
3,-916.184863,360.724499,183.341588,51.429616,44.871026,314.409232,-268.788246,379.189895,16.213672,354.987904,...,71.269757,117.685874,77.472388,8.791486,-82.457189,79.285818,142.802298,6.899192,210.933195,3.432818
4,-460.945965,404.240645,-769.981651,155.147617,-608.080497,253.835657,-14.922221,417.239791,176.924296,141.719784,...,-70.491039,1.694070,-81.428272,-97.460459,70.347530,58.875916,-133.175724,-146.470480,134.855313,-53.035974

In [ ]:
round(X_pca2[9, 8], 3)

np.float64(-179.73)

In [ ]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier

ada = AdaBoostClassifier(estimator=DecisionTreeClassifier(max_depth=3, class_weight='balanced'),n_estimators=300,learning_rate=0.5,random_state=3)
ada.fit(X_pca2, y_train)
y_pred = ada.predict(X_pca2_test)

In [ ]:
round(ada.score(X_pca2_test, y_test), 3)

0.992

In [ ]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_pred)

0.9921607055365017

In [ ]:
from sklearn.metrics import confusion_matrix, classification_report

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           2       0.99      0.99      0.99      1032
           9       0.99      0.99      0.99      1009

    accuracy                           0.99      2041
   macro avg       0.99      0.99      0.99      2041
weighted avg       0.99      0.99      0.99      2041

In [ ]:
tn, fp, fn, tp = confusion_matrix(y_test, y_pred).ravel().tolist()
tp

1000